<div class="layout">
  <div class="title_bar">
    <span class="title">TIMEBOX</span>
    <span class="instance">Half Horizontal View</span>
  </div>
  
  <div class="content">
    <p>Half horizontal layout not yet implemented.</p>
    <p>Use the "Full" layout to see the dashboard.</p>
  </div>
</div>
